pytesseract
pdftabextract
allennlp
hypothesis==3.6.1
numpy==1.16.1
opencv-python==3.2.0.6
pandas==0.19.2
pytest==3.0.6
openpyxl
addict
python-Levenshtein
tesserocr
autocorrect
parsley
pyrata
bert_embedding
fuzzywuzzy
scrapy
wmd
spacy-nightly
git+git://github.com/c0ntradicti0n/Distinctiopus4.git
beautifultable
Cython