torch==1.0.2
allennlp==0.9.0
numpy==1.16.1
-e git+git://github.com/c0ntradicti0n/Distinctiopus4.git#egg=Distinctiopus4
pandas
spacy==2.1.8
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.0/en_core_sci_sm-0.2.0.tar.gz
regex
Cython
more_itertools
twisted

