pytesseract
pdftabextract
allennlp
hypothesis==3.6.1
numpy==1.16.1
opencv-python==3.2.0.6
pandas==0.19.2
pytest==3.0.6
openpyxl
addict
python-Levenshtein
# tesserocr
autocorrect
parsley
pyrata
bert_embedding
fuzzywuzzy
scrapy
wmd
spacy-nightly
git+https://github.com/c0ntradicti0n/Distinctiopus4.git
beautifultable
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.0/en_core_sci_sm-0.2.0.tar.gz
bs4
kivy
regex
Cython
more_itertools